* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('/images/bg-4.jpg');
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

header {
  padding: 50px;
  text-align: center;
  font-weight: bold;
  color: rgb(37, 37, 37);
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

header button {
  font-family: inherit;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Main Container */
#container {
  width: 500px;
  height: 600px;
  margin: 0 auto;
  border: 1px solid grey;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  padding: 15px;
}

/* Add Task Container */
#add-task {
  text-align: center;
  padding: 20px;
  margin-bottom: 15px;
}

#add-task input {
  width: 80%;
  margin-right: 2%;
  padding: 5px;
  border-radius: 7px;
  border: 1px solid grey
}

#add-task button {
  padding: 5px 15px;
  background-color: rgb(0, 102, 255);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 1rem;
}

#add-task button:hover {
  background-color: rgb(0, 88, 230);
  cursor: pointer;
}

/* Task List Container */
#task-list-container {
  background-color: white;
  min-height: 85%;
  border: 1px solid grey;
  border-radius: 15px;
  padding: 10px;
}

#task-list-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  /* overflow-y: scroll; */
}

.task {
  /* padding: 15px; */
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.task .done {
  width: 10%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.task .done svg {
  height: 1.8rem;
  color: grey;
}

.task p {
  padding: 15px;
  width: 70%;
}

.task .done svg:hover {
  color: green;
}

.task .icon { 
  width: 16%;
  height: 100%;
  padding: 14px;
  text-align: center;
  color: grey;
  border-radius: 0 10px 10px 0;
}

.task .icon svg {
  width: 1.3rem;
}

.task .icon svg:hover {
  color: rgb(224, 0, 0);
  cursor: pointer;
}







