* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('/images/bg-4.jpg');
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}

header {
  padding: 50px;
  text-align: center;
  font-weight: bold;
  color: rgb(37, 37, 37);
}

header h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

header button {
  font-family: inherit;
  padding: 10px 20px;
  border-radius: 5px;
}